<div class="banner" id="banner-1">

    <div id="banner-content">

        <!-- banner-text -->
        <div class="banner-text">
            <h1>Мы!</h1>
            <h2>Сделаем разумный выбор!</h2>
            <h3>*Name* – это инструмент вопросов и ответов, который показывает, какая партия, имеющая право на участие в выборах, ближе всего к вашей политической позиции.
            </h3>
            <button class="main-button">Пройти опрос</button>
        </div>


        <!-- banner-image -->
        <div class="banner-image">
            <div class="BoxBannerImage">
                <img src="../../../assets/img/wahl.svg" alt="wahl" class="">
            </div>
        </div>
        `
    </div>

</div>