<div id=menuScroll class="menu" [class.header_menu]="header_nav_menu">



    <div class="menu__icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="menu__links">
        <ul id="nav">
            <li><a href="#banner-1" class="sub" tabindex="1">О проекте</a>

            </li>
            <li><a href="../header-main/header-main.component.html" class="sub" tabindex="1">Обзор предвыборных компаний</a>
                <ul>
                    <li><a class="a-menuPointUnter" href="./">Партии</a></li>
                    <li><a class="a-menuPointUnter" href="./">Новости</a></li>
                </ul>
            </li>
            <li><a href="../header-main/header-main.component.html" class="sub" tabindex="1">Пройти опрос</a>
                <ul>
                    <li><a class="a-menuPointUnter" href="./">Акктуальные выборы</a></li>
                    <li><a class="a-menuPointUnter" href="./">История</a></li>
                </ul>
            </li>
            <li><a href="../header-main/header-main.component.html" class="sub" tabindex="1">Анализ</a>
                <ul>
                    <li><a class="a-menuPointUnter" href="#AnalyzePage">Статистическая визуализация</a></li>
                    <li><a class="a-menuPointUnter" href="./">Мнение большинства</a></li>
                </ul>
            </li>
        </ul>
    </div>


    <div id="logo">
        <a href="index.html"><img src="../../../assets/img/logo.svg" alt="logo"></a>
    </div>
</div>