<section>
    <div class="content">

        <div class="content-section">

            <div class="content-box-bright">

                <div class="content-box-bright-subject">
                    <h4 class="h-mainhaed">Политика влияет на всех нас!</h4>
                    <div class="content-box-subject">
                        <p class="p-box-subject">
                            Выбрать партию при голосовании непросто. И кто лучше всего представляет то, что для нас важно? В этом вопросе может помочь *Name* - интерактивный инструмент, который дает обзор позиций всех сторон.
                        </p>
                        <p class="p-box-subject">
                            Все партии, которым разрешено голосовать, могут принять участие. Также в *Name* представлены заявления по всем политическим вопросам. Соглашаясь с утверждениями или нет, пользователь может сравнить свое мнение с позициями различных сторон.
                        </p>
                        <p class="p-box-subject">
                            *Name* не может на выборах принять решение за нас, но может дать толчок, к какой стороне стоит присмотреться!
                        </p>
                    </div>
                </div>

            </div>

            <div class="content-box-dark color-dark">
                <div class="content-box-dark-subject">
                    <h4 class="h-mainhaed"></h4>
                    <div class="content-box-subject-img">
                        <img src="../../../assets/img/waage-white.svg" alt="wahl" class="subject-img">
                    </div>
                </div>
            </div>

        </div>




        <div class="content-section">

            <div class="content-box-dark color-yellow">
                <div class="content-box-dark-subject">
                    <h4 class="h-mainhaed"></h4>
                    <div class="content-box-subject-img">
                        <img src="../../../assets/img/voting.svg" alt="wahl" class="subject-img">
                    </div>
                </div>
            </div>


            <div class="content-box-bright">

                <div class="content-box-bright-subject">
                    <h4 class="h-mainhaed">Как работает *Name*?</h4>
                    <div class="content-box-subject">
                        <p class="p-box-subject">
                            На все тезисы можно ответить <b>«согласен»</b>, <b>«не согласен»</b>, <b>«нейтрален»</b> или <b>«пропустить тезис»</b>.
                        </p>

                        <p class="p-box-subject">
                            Ответив на все вопросы, можно придать особое значение тезисам, которые представляются наиболее важными. Выделенные тезисы учитываются дважды при подсчете результата, что делает его более точным.
                        </p>

                        <p class="p-box-subject">
                            Таким образом, пользователи могут сравнивать свои ответы с позициями партий и других избирателей. Затем *Name* рассчитывает степень личного согласия с выбранными партиями.
                        </p>

                    </div>
                </div>
            </div>
        </div>


        <div class="content-section">

            <div class="content-box-bright">

                <div id="AnalyzePage" class="content-box-bright-subject">
                    <h4 class="h-mainhaed">Результат и анализ собранных данных</h4>
                    <div class="content-box-subject">
                        <p class="p-box-subject">
                            После ответов на все вопросы будут представлены партии в порядке вашей близости к их позиции. При нажатии на логотип партии открывается краткое описание о ней.
                        </p>
                        <p class="p-box-subject">
                            <b>Диаграммы</b> показывают статистически степень согласия потенциального избирателя.
                        </p>
                        <p class="p-box-subject">
                            В разделе <b>«Обзор предвыборных компаний»</b> вы можете получить доступ к краткому профилю соответствующей партии.
                        </p>
                    </div>
                </div>

            </div>

            <div class="content-box-dark color-dark">
                <div class="content-box-dark-subject">
                    <h4 class="h-mainhaed"></h4>
                    <div class="content-box-subject-img">
                        <img src="../../../assets/img/analyse-white.svg" alt="wahl" class="subject-img">
                    </div>
                </div>
            </div>

        </div>

        <div class="content-section">



            <div class="content-box-dark color-yellow">
                <div class="content-box-dark-subject">
                    <h4 class="h-mainhaed"></h4>
                    <div class="content-box-subject-img">
                        <img src="../../../assets/img/voting.svg" alt="wahl" class="subject-img">
                    </div>
                </div>
            </div>


            <div class="content-box-bright">

                <div class="content-box-bright-subject">
                    <h4 class="h-mainhaed">Выигрыш для вас, а также для социологических и политических исследований!</h4>
                    <div class="content-box-subject">
                        <p class="p-box-subject">

                        </p>

                        <p class="p-box-subject">

                        </p>

                        <p class="p-box-subject">

                        </p>

                    </div>
                </div>
            </div>
        </div>



    </div>

</section>